<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <footer class="bg-emerald-800">
      <div class="max-w-[1250px] mx-auto py-5">
        <div class="flex justify-between items-start">
            <div class="w-auto px-3 xs:px-0 xs:ml-5">
                <h5 class="text-white font-IranSansLight text-center">با اطمینان دسترسی پیدا کنید، با ایمنی وارد شوید</h5>
            </div>
            <!-- <div class="w-2/4">
                <ul class="flex w-full flex-row-reverse">
                    <li class="mx-5">
                        <a href="#" class="text-white font-IranSans text-sm">خانه</a>
                    </li>
                    <li class="mx-5">
                        <a href="#" class="text-white font-IranSans text-sm">امکانات</a>
                    </li>
                    <li class="mx-5">
                        <a href="#" class="text-white font-IranSans text-sm">درباره ما</a>
                    </li>
                    <li class="mx-5">
                        <a href="#" class="text-white font-IranSans text-sm">ارتباط با ما</a>
                    </li>
                </ul>
            </div> -->
        </div>
      </div>
    </footer>
  </body>
</html>
